* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 98vh;
  background-image: url(./assets/background.webp);
  background-size: fit;
  background-position: center;
  position: relative;
}

/* Blur layer */
body::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: inherit;
  background-size: cover;
  background-position: center;
  filter: blur(8px);
  z-index: -1;
}

.container {
  width: 80%;
  height: 96vh;
  padding: 1rem;
  margin: 0 auto;
  margin-top: 1rem;
  text-align: center;
  color: #ffffff;
}

section{
  margin: 1rem;
}

h1 {
  font-size: 3.9rem;
}

.container p {
  font-size: 1.7rem;
}

.card {
  padding: 1rem;
  background-color: #fffbfb9e;
  color: #000000;
  border-radius: 6px;
  text-align: start;
}

.filters {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 20px 0;
}

.filter-btn {
  padding: 12px 24px;
  border-radius: 20px;
  border: 1px solid #ddd;
  background: white;
  cursor: pointer;
  font-weight: 600;
}

.filter-btn.active {
  background-color: #0155e6;
  color: white;
  border-color: #0e46a5;
}


.title {
  margin-bottom: 10px;
  color: #2d2d2d;
}

.addMovieItemsContainer {
  display: flex;
  justify-content: space-between;
}

.addMovieItems {
  display: flex;
  gap: 10px;
  align-items: center;
}

.label {
  color: #383838;
}

.input , .select{
  width: 14rem;
  padding: 6px;
  border: 1px solid #858585;
  border-radius: 6px;
}

.select {
  width: auto;
  cursor: pointer;
}

.btn {
  width: 4rem;
  border: none;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
}

.primary {
  background-color: #0155e6;
}

.primary:hover {
  background-color: #0040ae;  
}

.error {
  margin-top: 12px;
  color: #4b4b4b;
  font-size: 0.9rem;
}

/* Movies List */
.item {
  list-style: none;
  border-top: 1.5px solid #b0b0b0c3;
  border-radius: 6px;
  margin-top: 10px;
  padding: 12px 30px;
  width: 80%;
  margin: 0 auto;
}
.item div {
  margin: 6px;
}
.icon {
  width: 2rem;
  height: auto;
}
.movieTitle p {
  color: #000000;
}

.movieDetails {
  display: flex;
  gap: 10px;
  align-items: center;
}
.watched {
  background-color: #249a06;
  color: #fff;
  padding: 6px 14px;
  width: auto;
}
.unwatched {
  background-color: #918f8f;
  color: #000;
  padding: 6px 14px;
  width: auto;
}

span.watched, span.unwatched {
  border-radius: 20px;
}

.movieBtns {
  display: flex;
  justify-content: space-between;
  margin-top: 10px !important;
}

.delete {
  background-color: red;
  padding: 6px 14px;
}

.btn:hover {
  transform: scale(0.97);
}