* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 98vh;
  background-image: url(./assets/background.webp);
  background-size: fit;
  background-position: center;
  position: relative;
}

/* لایه تار */
body::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: inherit;
  background-size: cover;
  background-position: center;
  filter: blur(8px);
  z-index: -1;
}

.container {
  width: 80%;
  height: 96vh;
  padding: 1rem;
  margin: 0 auto;
  margin-top: 1rem;
  text-align: center;
  background-color: #43424282;
  color: #ffffff;
}

h1 {
  font-size: 3.9rem;
}

.container p {
  font-size: 1.7rem;
  color: #cfcfcf;
}

.icon {
  width: 3rem;
  height: auto;
}