* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 98vh;
  background-image: url(./assets/background.webp);
  background-size: fit;
  background-position: center;
  position: relative;
}

/* Blur layer */
body::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: inherit;
  background-size: cover;
  background-position: center;
  filter: blur(8px);
  z-index: -1;
}

.container {
  width: 80%;
  height: 96vh;
  padding: 1rem;
  margin: 0 auto;
  margin-top: 1rem;
  text-align: center;
  background-color: #43424282;
  color: #ffffff;
}

section{
  margin: 1rem;
}

h1 {
  font-size: 3.9rem;
}

.container p {
  font-size: 1.7rem;
  color: #cfcfcf;
}

.card {
  padding: 1rem;
  background-color: #e0e0e0ec;
  color: #000000;
  border-radius: 6px;
  text-align: start;
}

.title {
  margin-bottom: 10px;
  color: #2d2d2d;
}

.addMovieItemsContainer {
  display: flex;
  justify-content: space-between;
}

.addMovieItems {
  display: flex;
  gap: 10px;
  align-items: center;
}

.label {
  color: #383838;
}

.input , .select{
  width: 14rem;
  padding: 6px;
  border: 1px solid #858585;
  border-radius: 6px;
}

.select {
  width: auto;
  cursor: pointer;
}

.btn {
  width: 4rem;
  border: none;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
}

.primary {
  background-color: #0155e6;
}

.primary:hover {
  background-color: #0040ae;  
}



/* Movies List */
.item {
  list-style: none;
  border: 1.5px solid #707070;
  border-radius: 6px;
  margin-top: 10px;
  padding: 12px;
}
.item div {
  margin: 6px;
}
.icon {
  width: 2rem;
  height: auto;
}
.movieTitle p {
  color: #000000;
}

.movieDetails {
  display: flex;
  gap: 10px;
  align-items: center;
}
.watched {
  background-color: #249a06;
  color: #fff;
  padding: 6px 14px;
  width: auto;
}
.unwatched {
  background-color: #c0c0c0;
  color: #000;
  padding: 6px 14px;
  width: auto;
}

span.watched, span.unwatched {
  border-radius: 20px;

}